body {
  font-family: Verdana;
  font-size: 1.5em;
}

$primaryColor: #FF0000;
body {
  h1 {
    color: $primaryColor; 
  }
}


#team-members {
  clear: both;

  .member{
    float: left;
    margin: 10px;
    padding: 6px;

    .portrait { // Wraps the image
      overflow: hidden;
      width: 200px;
      height: 200px;

      border-radius: 100px;
      border: 5px solid white;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.25);

      &:hover img {
        -ms-transform: rotate(20deg) scale(1.3); /* IE 9 */
        -webkit-transform: rotate(20deg) scale(1.3); /* Chrome, Safari, Opera */
        transform: rotate(20deg) scale(1.3);
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
      }
    }

    img {
      display: block;
      width: 100%;

      -webkit-transition: all 3s ease-in-out;
      transition: all 3s ease-in-out;
    }

    div.name{
      text-align: center;
    }
  }
}

